@charset "UTF-8";
@font-face {
  font-family: Bitter;
  font-display: swap;
  src: url("../fonts/Bitter-Bold.woff2") format("woff2"), url("../fonts/Bitter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Bitter;
  font-display: swap;
  src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceSans3;
  font-display: swap;
  src: url("../fonts/SourceSans3-Bold.woff2") format("woff2"), url("../fonts/SourceSans3-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SourceSans3;
  font-display: swap;
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"), url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceSans3;
  font-display: swap;
  src: url("../fonts/SourceSans3-SemiBold.woff2") format("woff2"), url("../fonts/SourceSans3-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SourceSans3;
  font-display: swap;
  src: url("../fonts/SourceSans3-Medium.woff2") format("woff2"), url("../fonts/SourceSans3-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e900";
}

._icon-favorite:before {
  content: "\e901";
}

._icon-search:before {
  content: "\e902";
}

._icon-send-arrow:before {
  content: "\e904";
}

._icon-facebook1:before {
  content: "\e903";
}

._icon-user:before {
  content: "\f007";
}

._icon-eye:before {
  content: "\f06e";
}

._icon-phone:before {
  content: "\f095";
}

._icon-twitter:before {
  content: "\f099";
}

._icon-google-plus:before {
  content: "\f0d5";
}

._icon-angle-down:before {
  content: "\f107";
}

._icon-youtube1:before {
  content: "\f167";
}

._icon-tumblr:before {
  content: "\f173";
}

._icon-user-circle:before {
  content: "\f2be";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "SourceSans3";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SourceSans3";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #F7F0E2;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.top-header {
  padding: 6px 0px;
}
.top-header__container {
  min-height: 1.375rem;
}
@media (min-width: 29.9875em) {
  .top-header__container {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.9875em) {
  @supports (padding-right: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .top-header__container {
      padding-right: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem );
    }
  }
  @supports not (padding-right: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .top-header__container {
      padding-right: calc(0.25rem + 0.6875 * (100vw - 20rem) / 9.9875);
    }
  }
}
@media (max-width: 20em) {
  .top-header__container {
    padding-right: 0.25rem;
  }
}
@media (min-width: 29.9875em) {
  .top-header__container {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.9875em) {
  @supports (padding-left: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .top-header__container {
      padding-left: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem );
    }
  }
  @supports not (padding-left: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .top-header__container {
      padding-left: calc(0.25rem + 0.6875 * (100vw - 20rem) / 9.9875);
    }
  }
}
@media (max-width: 20em) {
  .top-header__container {
    padding-left: 0.25rem;
  }
}
.top-header__body {
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 73.5em) {
  .top-header__body {
    gap: 2rem;
  }
}
@media (min-width: 48em) and (max-width: 73.5em) {
  @supports (gap: clamp( 0.75rem , -1.6029411765rem  +  4.9019607843vw , 2rem )) {
    .top-header__body {
      gap: clamp( 0.75rem , -1.6029411765rem  +  4.9019607843vw , 2rem );
    }
  }
  @supports not (gap: clamp( 0.75rem , -1.6029411765rem  +  4.9019607843vw , 2rem )) {
    .top-header__body {
      gap: calc(0.75rem + 1.25 * (100vw - 48rem) / 25.5);
    }
  }
}
@media (max-width: 48em) {
  .top-header__body {
    gap: 0.75rem;
  }
}
.top-header__body::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 0.09375rem;
  background-color: #C4C4C4;
}
.top-header__phone {
  display: flex;
}
@media (min-width: 73.5em) {
  .top-header__phone {
    column-gap: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.5em) {
  @supports (column-gap: clamp( 0.375rem , 0.1647196262rem  +  1.0514018692vw , 0.9375rem )) {
    .top-header__phone {
      column-gap: clamp( 0.375rem , 0.1647196262rem  +  1.0514018692vw , 0.9375rem );
    }
  }
  @supports not (column-gap: clamp( 0.375rem , 0.1647196262rem  +  1.0514018692vw , 0.9375rem )) {
    .top-header__phone {
      column-gap: calc(0.375rem + 0.5625 * (100vw - 20rem) / 53.5);
    }
  }
}
@media (max-width: 20em) {
  .top-header__phone {
    column-gap: 0.375rem;
  }
}
.top-header__phone::before {
  display: none;
}
.top-header__menu {
  flex: 1 1 auto;
}
.top-header__user::before {
  display: none;
}
.top-header__phone, .top-header__user {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-weight: 500;
}
@media (max-width: 61.99875em) {
  .top-header .top-header__phone {
    column-gap: 0.3125rem;
  }
  .top-header .top-header__phone::before {
    display: block;
    align-self: center;
    font-size: 1rem;
  }
  .top-header .top-header__phone span {
    display: none;
  }
  .top-header .top-header__user::before {
    display: block;
    align-self: center;
    font-size: 1rem;
  }
  .top-header .top-header__user span {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .top-header {
    position: relative;
  }
  .top-header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 2.375rem;
    background-color: #F7F0E2;
    border-bottom: 2px solid #C4C4C4;
  }
  .top-header .top-header__phone::before {
    font-size: 1.25rem;
  }
  .top-header .top-header__phone span:last-child {
    display: none;
  }
  .top-header .top-header__user::before {
    font-size: 1.25rem;
  }
  .top-header .top-header__body::before {
    bottom: -5px;
  }
  .top-header__phone, .top-header__user {
    position: relative;
    z-index: 7;
  }
}
@media (any-hover: hover) {
  .top-header .top-header__user,
.top-header .top-header__phone {
    transition: color 0.3s ease 0s;
  }
  .top-header .top-header__user:hover,
.top-header .top-header__phone:hover {
    color: #885EA5;
  }
}

.search-top-header {
  display: none;
  position: relative;
}
.search-top-header__body {
  position: absolute;
  z-index: 8;
  top: 165%;
  left: -1.25rem;
  width: 20.75rem;
}
@media (min-width: 29.99875em) {
  .search-top-header__body {
    width: 29.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  @supports (width: clamp( 20.75rem , 4.1229216152rem  +  83.135391924vw , 29.0625rem )) {
    .search-top-header__body {
      width: clamp( 20.75rem , 4.1229216152rem  +  83.135391924vw , 29.0625rem );
    }
  }
  @supports not (width: clamp( 20.75rem , 4.1229216152rem  +  83.135391924vw , 29.0625rem )) {
    .search-top-header__body {
      width: calc(20.75rem + 8.3125 * (100vw - 20rem) / 9.99875);
    }
  }
}
@media (max-width: 20em) {
  .search-top-header__body {
    width: 20.75rem;
  }
}
.search-top-header__button {
  display: flex;
  align-items: center;
}
@media (max-width: 29.99875em) {
  .search-top-header {
    display: block;
  }
  .search-top-header .search-top-header__button::before {
    font-size: 1.125rem;
  }
  .search-top-header__button {
    position: relative;
    z-index: 7;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.25rem;
}
@media (min-width: 73.5em) {
  .menu__list {
    column-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.5em) {
  @supports (column-gap: clamp( 0.9375rem , 0.3533878505rem  +  2.9205607477vw , 2.5rem )) {
    .menu__list {
      column-gap: clamp( 0.9375rem , 0.3533878505rem  +  2.9205607477vw , 2.5rem );
    }
  }
  @supports not (column-gap: clamp( 0.9375rem , 0.3533878505rem  +  2.9205607477vw , 2.5rem )) {
    .menu__list {
      column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.5);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    column-gap: 0.9375rem;
  }
}
.menu__link {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-weight: 500;
}
@media (max-width: 61.99875em) {
  .menu .menu__link {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(247, 240, 226, 0.9);
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__list {
    display: inline-flex;
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
  }
  .menu .menu__link {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) {
  .menu .menu__link {
    transition: color 0.3s ease 0s;
  }
  .menu .menu__link:hover {
    color: #885EA5;
  }
}

.menu-open .menu__body {
  left: 0;
}

@media (min-width: 73.5em) {
  .body-header {
    padding-top: 0.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.5em) {
  @supports (padding-top: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .body-header {
      padding-top: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem );
    }
  }
  @supports not (padding-top: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .body-header {
      padding-top: calc(0.375rem + 0.4375 * (100vw - 20rem) / 53.5);
    }
  }
}
@media (max-width: 20em) {
  .body-header {
    padding-top: 0.375rem;
  }
}
@media (min-width: 73.5em) {
  .body-header {
    padding-bottom: 0.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.5em) {
  @supports (padding-bottom: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .body-header {
      padding-bottom: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .body-header {
      padding-bottom: calc(0.375rem + 0.4375 * (100vw - 20rem) / 53.5);
    }
  }
}
@media (max-width: 20em) {
  .body-header {
    padding-bottom: 0.375rem;
  }
}
.body-header__container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.25rem;
}
.body-header__logo {
  display: inline-flex;
  position: relative;
  z-index: 6;
  font-family: Bitter, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1125rem;
}
@media (min-width: 73.5em) {
  .body-header__logo {
    font-size: 2.25rem;
  }
}
@media (min-width: 48em) and (max-width: 73.5em) {
  @supports (font-size: clamp( 1.875rem , 1.1691176471rem  +  1.4705882353vw , 2.25rem )) {
    .body-header__logo {
      font-size: clamp( 1.875rem , 1.1691176471rem  +  1.4705882353vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.1691176471rem  +  1.4705882353vw , 2.25rem )) {
    .body-header__logo {
      font-size: calc(1.875rem + 0.375 * (100vw - 48rem) / 25.5);
    }
  }
}
@media (max-width: 48em) {
  .body-header__logo {
    font-size: 1.875rem;
  }
}
.body-header__logo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 57%;
  z-index: -1;
  transform: translate(0px, -50%);
  display: inline-block;
  width: 100%;
  height: 0.3125rem;
  background-color: #F9D53D;
}
.body-header__search {
  flex: 1 1 auto;
}
@media (min-width: 73.5em) {
  .body-header__search {
    padding-left: 5.25rem;
  }
}
@media (min-width: 62em) and (max-width: 73.5em) {
  @supports (padding-left: clamp( 1.25rem , -20.3152173913rem  +  34.7826086957vw , 5.25rem )) {
    .body-header__search {
      padding-left: clamp( 1.25rem , -20.3152173913rem  +  34.7826086957vw , 5.25rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , -20.3152173913rem  +  34.7826086957vw , 5.25rem )) {
    .body-header__search {
      padding-left: calc(1.25rem + 4 * (100vw - 62rem) / 11.5);
    }
  }
}
@media (max-width: 62em) {
  .body-header__search {
    padding-left: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .body-header .body-header__actions {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .body-header {
    display: none;
  }
}
@media (max-width: 29.99875em) and (min-width: 29.9875em) {
  .body-header__logo {
    font-size: 1.5rem;
  }
}
@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 29.9875em) {
  @supports (font-size: clamp( 1.25rem , 0.7493742178rem  +  2.5031289111vw , 1.5rem )) {
    .body-header__logo {
      font-size: clamp( 1.25rem , 0.7493742178rem  +  2.5031289111vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.7493742178rem  +  2.5031289111vw , 1.5rem )) {
    .body-header__logo {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 9.9875);
    }
  }
}
@media (max-width: 29.99875em) and (max-width: 20em) {
  .body-header__logo {
    font-size: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .body-header .body-header__container {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .body-header .body-header__search {
    padding-left: 0;
  }
}

.search-header {
  display: block;
  position: relative;
  background-color: #fbf8f1;
  border: 1px solid #dadada;
  border-radius: 6.25rem;
  min-width: 15.625rem;
}
.search-header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
}
.search-header__button::before {
  font-size: 0.8125rem;
}
.search-header__input {
  height: 2.5rem;
  width: 100%;
  padding: 0px 2.5rem 0px 1.25rem;
  background-color: transparent;
  border-radius: 6.25rem;
}
.search-header__input::placeholder {
  opacity: 50%;
  font-size: 0.875rem;
}
@media (max-width: 29.99875em) {
  .search-header__input {
    height: 2rem;
  }
  .search-header__button {
    height: 2rem;
  }
}
@media (any-hover: hover) {
  .search-header .search-header__button::before {
    transition: color 0.3s ease 0s;
  }
  .search-header .search-header__button:hover::before {
    color: #885EA5;
  }
}

.actions-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.25rem;
}
@media (min-width: 73.5em) {
  .actions-header {
    column-gap: 2.125rem;
  }
}
@media (min-width: 62em) and (max-width: 73.5em) {
  @supports (column-gap: clamp( 0.8125rem , -6.2635869565rem  +  11.4130434783vw , 2.125rem )) {
    .actions-header {
      column-gap: clamp( 0.8125rem , -6.2635869565rem  +  11.4130434783vw , 2.125rem );
    }
  }
  @supports not (column-gap: clamp( 0.8125rem , -6.2635869565rem  +  11.4130434783vw , 2.125rem )) {
    .actions-header {
      column-gap: calc(0.8125rem + 1.3125 * (100vw - 62rem) / 11.5);
    }
  }
}
@media (max-width: 62em) {
  .actions-header {
    column-gap: 0.8125rem;
  }
}
@media (min-width: 73.5em) {
  .actions-header {
    padding-left: 3rem;
  }
}
@media (min-width: 62em) and (max-width: 73.5em) {
  @supports (padding-left: clamp( 1rem , -9.7826086957rem  +  17.3913043478vw , 3rem )) {
    .actions-header {
      padding-left: clamp( 1rem , -9.7826086957rem  +  17.3913043478vw , 3rem );
    }
  }
  @supports not (padding-left: clamp( 1rem , -9.7826086957rem  +  17.3913043478vw , 3rem )) {
    .actions-header {
      padding-left: calc(1rem + 2 * (100vw - 62rem) / 11.5);
    }
  }
}
@media (max-width: 62em) {
  .actions-header {
    padding-left: 1rem;
  }
}
.actions-header__catalog {
  display: flex;
  align-items: center;
}
.actions-header__wishlist, .actions-header__cart {
  display: grid;
  grid-template: 1fr/repeat(3, auto);
  gap: 0.25rem;
}
.actions-header__wishlist span:first-child, .actions-header__cart span:first-child {
  grid-row: 1/2;
  grid-column: 1/2;
  padding-right: 0.3125rem;
}
.actions-header__wishlist::before, .actions-header__cart::before {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 0.8125rem;
  align-self: center;
}
.actions-header__wishlist span:last-child, .actions-header__cart span:last-child {
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: center;
  text-align: center;
  display: block;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  background-color: #885EA5;
  color: white;
  font-size: 0.625rem;
  line-height: 1.257;
}
.actions-header__catalog, .actions-header__wishlist, .actions-header__cart {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-weight: 500;
}
.actions-header__catalog span:first-child, .actions-header__wishlist span:first-child, .actions-header__cart span:first-child {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .actions-header__wishlist::before, .actions-header__cart::before {
    transition: color 0.3s ease 0s;
  }
  .actions-header__wishlist:hover::before, .actions-header__cart:hover::before {
    color: #885EA5;
  }
  .actions-header__catalog:hover span:first-child, .actions-header__wishlist:hover span:first-child, .actions-header__cart:hover span:first-child {
    color: #885EA5;
  }
}
@media (max-width: 61.99875em) {
  .actions-header__catalog span {
    font-size: 1rem;
  }
  .actions-header__wishlist, .actions-header__cart {
    height: 100%;
  }
  .actions-header__wishlist span:first-child, .actions-header__cart span:first-child {
    display: none;
  }
  .actions-header__wishlist span:last-child, .actions-header__cart span:last-child {
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
  }
  .actions-header__wishlist::before, .actions-header__cart::before {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .actions-header__catalog span {
    font-size: 1.5rem;
  }
  .actions-header__cart::before {
    font-size: 1.25rem;
  }
  .actions-header__wishlist::before {
    font-size: 1.125rem;
  }
  .actions-header__cart, .actions-header__wishlist {
    position: relative;
    z-index: 7;
  }
}
@media (max-width: 29.99875em) {
  .actions-header__cart, .actions-header__wishlist {
    gap: 0;
  }
  .actions-header__cart span:last-child, .actions-header__wishlist span:last-child {
    display: none;
  }
}

@media (min-width: 73.5em) {
  .catalog-header {
    padding-top: 0.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.5em) {
  @supports (padding-top: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .catalog-header {
      padding-top: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem );
    }
  }
  @supports not (padding-top: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .catalog-header {
      padding-top: calc(0.375rem + 0.4375 * (100vw - 20rem) / 53.5);
    }
  }
}
@media (max-width: 20em) {
  .catalog-header {
    padding-top: 0.375rem;
  }
}
@media (min-width: 73.5em) {
  .catalog-header {
    padding-bottom: 0.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.5em) {
  @supports (padding-bottom: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .catalog-header {
      padding-bottom: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.375rem , 0.2114485981rem  +  0.8177570093vw , 0.8125rem )) {
    .catalog-header {
      padding-bottom: calc(0.375rem + 0.4375 * (100vw - 20rem) / 53.5);
    }
  }
}
@media (max-width: 20em) {
  .catalog-header {
    padding-bottom: 0.375rem;
  }
}
@media (min-width: 29.9875em) {
  .catalog-header__container {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.9875em) {
  @supports (padding-right: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .catalog-header__container {
      padding-right: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem );
    }
  }
  @supports not (padding-right: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .catalog-header__container {
      padding-right: calc(0.25rem + 0.6875 * (100vw - 20rem) / 9.9875);
    }
  }
}
@media (max-width: 20em) {
  .catalog-header__container {
    padding-right: 0.25rem;
  }
}
@media (min-width: 29.9875em) {
  .catalog-header__container {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.9875em) {
  @supports (padding-left: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .catalog-header__container {
      padding-left: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem );
    }
  }
  @supports not (padding-left: clamp( 0.25rem , -1.1267209011rem  +  6.8836045056vw , 0.9375rem )) {
    .catalog-header__container {
      padding-left: calc(0.25rem + 0.6875 * (100vw - 20rem) / 9.9875);
    }
  }
}
@media (max-width: 20em) {
  .catalog-header__container {
    padding-left: 0.25rem;
  }
}
.menu-catalog {
  overflow: auto;
}
.menu-catalog__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 3.61875rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}
@media (min-width: 73.5em) {
  .menu-catalog__list {
    column-gap: 3.61875rem;
  }
}
@media (min-width: 48em) and (max-width: 73.5em) {
  @supports (column-gap: clamp( 1.625rem , -2.1279411765rem  +  7.818627451vw , 3.61875rem )) {
    .menu-catalog__list {
      column-gap: clamp( 1.625rem , -2.1279411765rem  +  7.818627451vw , 3.61875rem );
    }
  }
  @supports not (column-gap: clamp( 1.625rem , -2.1279411765rem  +  7.818627451vw , 3.61875rem )) {
    .menu-catalog__list {
      column-gap: calc(1.625rem + 1.99375 * (100vw - 48rem) / 25.5);
    }
  }
}
@media (max-width: 48em) {
  .menu-catalog__list {
    column-gap: 1.625rem;
  }
}
.menu-catalog__link {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-weight: 600;
}
.menu-catalog__link_active {
  color: #885EA5;
}
@media (max-width: 61.99875em) {
  .menu-catalog .menu-catalog__link {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .menu-catalog .menu-catalog__link {
    transition: color 0.3s ease 0s;
  }
  .menu-catalog .menu-catalog__link:hover {
    color: #885EA5;
  }
}

.simplebar-track.simplebar-vertical {
  display: none;
}

.simplebar-scrollbar::before {
  background-color: #885EA5 !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  height: 75% !important;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.5rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 6;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
